html {
	max-width: 100%;
	margin: 0 auto;	
	padding: 0;
	font-family: Helvetica , Ariel, sans-serif;
	background-color: lightgrey;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: #FFF;

}

/* Sub Box */

/* Sub Box Animation */

@keyframes fadeBounce {

	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	40% {
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		transform: translateY(-6px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* End of Animation */

.sub-box {
	animation-name: fadeBounce;
	animation-duration: 2s;
	text-align: center;
	background-color: #1f56af;
	margin: 0 auto;
	padding: 20px;
	width: 1000px;
	height: 250px;
	position: relative;
	top: -100px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px #000, 0px -2px 2px #000 ;
}

.sub-box-header {
	color: #FFF;
	margin: 0;
	padding: 0;
	width: 1000px;
	text-align: center;
	text-shadow: 2px 2px 4px #000;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	top: -30px;
	box-shadow: inset ;
}

.sub-box p {
	width: 700px;
	margin: 0 auto;
	font-size: 150%;
}

.sub-box-button {
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
}

.sub-box-button:hover {
	background-color: rgba( 225, 225, 225, .3);
	color: #000;
}

/* Sub Box End */

/* Site Header */

.site-header {
	margin: 0;
	padding: 0;
	height: 600px;
	width: 100%;
	background: url(../images/home-nav-img.jpg) no-repeat right top;
	background-size: cover;
	box-shadow: 2px 2px 2px #000;
}

.site-header h1 {
	margin: 0;
	margin-top: 20px;
	margin-left: 300px;
	padding: 0;
	font-size: 50px;
}

.site-header p {
	margin: 0;
	margin-left: 300px;
	padding: 0;
	font-size: 20px;
}

.header-box {
	width: 100%;
	height: 150px;
	padding: 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba( 225, 225, 225, .4);
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 2px 2px 2px #000;
}

/* End of Site Header */

/* Site Navigation */

.site-navigation {
	margin: 0;
	padding: 5px;
	background: linear-gradient(-90deg, #000, rgba( 0, 0, 0, 0)) ;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;

}
.site-navigation a {
	margin: 0;
	padding: 5px 20px;
	text-decoration: none;
	float: left;
	border-right: 1px solid #F0B40D;
	box-sizing: border-box;
	
}

.site-navigation li, a {
	color: #FFF;
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.site-navigation li:hover, a:hover {
	color: #000;
	background-color: #FFF;
	transition-property: color, background-color;
	transition-duration: .8s;

}

.site-navigation ul {
	color: #FFF;
	margin: 0;
	margin-right: 300px;
	padding: 0;

}


/* End of Navigation */

/* Content Area */

.content-area {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	position: relative;
	top: -80px;
}

.content-area p {
	margin-top: 30px;
	margin-left: 5px;
	width: 600px;
	float: left;

}

.content-area img {
	box-shadow: 4px 4px 4px #000;
}

.content-area-header {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
	text-align: center;
	font-size: 30px;
}

.content-area-info {
	font-size: 30px;

}

.content-area img {
	width: 300px;
	height: auto;
	float: left;
	box-shadow: 
}


/* End Content Area */

/* Site Footer */


.site-footer {
	margin: 0 auto;
	padding: 20px;
	color: #FFF;
	background-color: #272424 ;
	height: 220px;
}

.footer-column-area {
	width: 890px;
	margin: 0 auto;
	padding: 0;
}
.footer-column {
	padding: 0 40px;
	float: left;
	height: 210px;
	border-right: 2px solid #3C3C3C;
	box-sizing: border-box;
}

.footer-column a {
	color: #FFF;
	text-decoration: none;
}

.footer-column a:hover {
	padding-left: 3px;
	text-decoration: underline;
}

.footer-column ul {
	margin-top: 30px;
	padding: 0;
}

.footer-column-final {
	padding: 0 40px;
	float: left;
	height: 210px;
	box-sizing: border-box;
}

/* Site Footer End */



.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
