.standards {
	margin-bottom: 50px;
}
.standard {
	background-color: #FFF;
	padding: 0 18px 1px 18px;
	margin-bottom: 80px;

	@mixin atLarge {
		margin-bottom: 0;
		padding: 0 1.8125rem 1rem 1.8125rem;
	}
	
	&__photo {
		background-color: #FFF;
		border-radius: 70px;
		overflow: hidden;
		width: 140px;
		height: 140px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid $mainBlue;
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1rem 1rem;
	}

}