.standards {
	background-color: rgba( 0, 0, 0, .5);
	background-size: cover;
	padding: 0;

	@mixin atMedium {
		background-image: url('/assets/images/hero_large.jpg');
		background-attachment: fixed;
	}

	@mixin atLarge {
		padding-bottom: 80px;
	}
}
.standard {
	background-color: #FFF;
	padding: 0 18px 1px 18px;
	margin-bottom: 80px;

	@mixin atLarge {
		margin-bottom: 0;
		padding: 0 1.8125rem 1rem 1.8125rem;
	}
	
	&__photo {
		background-color: #FFF;
		border-radius: 70px;
		overflow: hidden;
		width: 140px;
		height: 140px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
		border: 6px solid $mainBlue;
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1rem 1rem;
	}

}